{:apiVersion "argoproj.io/v1alpha1"
 :kind       "ApplicationSet"
 :metadata   {:name "k3s-home"}
 :spec
 {:generators
  [{:list
    {:elements
     [{:cluster "home"
       :url     "https://kubernetes.default.svc"}]}}]
  :template
  {:metadata
   {:name "{{cluster}}-home"}
   :spec
   {:project "default"
    :source
    {:repoURL        "https://github.com/duck1123/k3s-fleetops"
     :targetRevision "master"
     :path           "argocd"}
    :destination
    {:server    "{{url}}"
     :namespace "argocd-default"}}}}}
