;; https://artifacthub.io/packages/helm/harbor/harbor
{:apiVersion "argoproj.io/v1alpha1"
 :kind       "Application"
 :metadata   {:name "harbor" :namespace "argocd"}
 :spec       {:project     "default"
              :sources     [{:chart          "harbor"
                             :repoURL        "https://helm.goharbor.io"
                             :targetRevision "1.15.1"
                             :helm           {:releaseName "harbor"
                                              :valueFiles  ["$values/target/argo-applications/harbor/values.yaml"]}}
                            {:repoURL        "https://github.com/duck1123/k3s-fleetops"
                             :targetRevision "master"
                             :ref            "values"}
                            {:directory      {:jsonnet {} :recurse true}
                             :path           "target/argo-applications/harbor/manifests"
                             :repoURL        "https://github.com/duck1123/k3s-fleetops.git"
                             :targetRevision "master"}]
              :destination {:server "https://kubernetes.default.svc" :namespace "harbor"}
              :syncPolicy  {:automated {:prune true :selfHeal true} :syncOptions ["CreateNamespace=true"]}}}
