;; https://artifacthub.io/packages/helm/harbor/harbor
{:existingSecretAdminPassword    "harbor-admin-password"
 :externalURL                        "https://harbor.dev.kronkltd.net"
 :expose
 {:ingress
  {:annotations
   {"cert-manager.io/cluster-issuer"           "letsencrypt-prod"
    "ingress.kubernetes.io/force-ssl-redirect" "true"
    "ingress.kubernetes.io/proxy-body-size"    "0"
    "ingress.kubernetes.io/ssl-redirect"       "true"}
   :className "traefik"
   :hosts
   {:core "harbor.dev.kronkltd.net"}}
  :tls {:certSource "secret"
        :secret     {:secretName "harbor-tls"}}}}
