{:expose
 {:ingress
  {:annotations
   {"cert-manager.io/cluster-issuer"                   "letsencrypt-prod"
    "ingress.kubernetes.io/force-ssl-redirect"         "true"
    "traefik.ingress.kubernetes.io/router.middlewares" "dinsro-redirect@kubernetescrd"}
   :hosts
   {:core "harbor.dev.kronkltd.net"}}}}
