{:paths ["src"]
 :deps  {io.github.l3nz/cli-matic {:sha "ddbcad077ba63e0abb3597a7ec6f62c40f91c9e5"}}
 :tasks
 {:requires
  ([babashka.fs :as fs]
   [clojure.string :as str]
   [k3s-fleetops.core :as c])

  apply-git-hooks
  {:docs "Register git hooks"
   :task (shell "git config core.hooksPath .githooks")}

  apply-master-application
  {:docs "Install 00-master argo application"
   :task (shell "kubectl apply -f target/infra-manifests/00-master.yaml")}

  build
  {:docs "Convert all edn files to yaml"
   :task (exec 'k3s-fleetops.core/build {})}

  build-charts
  {:task (shell "nixidy build .#dev")}

  clean
  {:task (shell "rm -rf target")}

  create-forgejo-password-secret
  {:task (c/create-sealed-secret :forgejo)}

  create-harbor-password-secret
  {:task (c/create-sealed-secret :harbor)}

  create-keycloak-password-secret
  {:task (c/create-sealed-secret :keycloak)}

  create-sealed-secret
  {:task (c/create-sealed-secret)}

  delete-secret-controller
  {:docs "Delete the sealed secrets controller"
   :task
   (let [namespace "sealed-secrets"
         command   (str "kubectl -n \"" namespace "\" delete pod -l name=sealed-secrets-controller")]
     (shell command))}

  forward-argocd
  {:docs "Forward the argocd port"
   :task (shell "kubectl port-forward svc/argocd-server -n argocd 8080:443")}

  forward-traefik-dashboard
  {:docs "Expose traefik dashboard"
   :task
   (do
     (let [get-name-command "kubectl get pods --selector \"app.kubernetes.io/name=traefik\" --output=name"
           pod-name         (shell get-name-command)
           command          (str "kubectl port-forward " pod-name " 9000:9000")]
       (shell command)))}

  ;; https://github.com/bitnami-labs/sealed-secrets/blob/main/docs/bring-your-own-certificates.md
  install-sealed-key
  {:docs "Upload sealed secrets key"
   :task
   (let [dry-run?    false
         namespace   "sealed-secrets"
         secret-name "imported-secret"
         public-key  "tls.crt"
         private-key "tls.key"
         command     (str
                      "kubectl "
                      "-n \"" namespace "\" "
                      "create secret tls "
                      "\"" secret-name "\" "
                      "--cert=\"" public-key "\" "
                      "--key=\"" private-key "\" ")]
     (if dry-run?
       (println command)
       (shell command)))}

  switch-charts
  {:task (shell "nixidy switch .#dev")}

  generate-key-file
  {:task (shell "openssl rand -out keepass.keyx 256")}

  k3d-create
  {:description "Create a k3d cluster"
   :task        (c/k3d-create)}

  apply-sealed-key-label
  {:docs "Marked the sealed key as active"
   :task
   (let [dry-run?    false
         namespace   "sealed-secrets"
         secret-name "imported-secret"
         command     (str "kubectl -n \"" namespace  "\" label secret \"" secret-name  "\" sealedsecrets.bitnami.com/sealed-secrets-key=active")]
     (if dry-run?
       (println command)
       (shell command)))}}}
