{:authentik
 [{:ns          "authentik"
   :secret-name "authentik-secret-key"
   :fields      {"authentik-secret-key" {:path "/Kubernetes/Authentik"}}}
  {:ns          "authentik"
   :secret-name "authentik-postgres-auth"
   :fields      {"postgres-password"      {:path "/Kubernetes/Postgres-admin"}
                 "password"               {:path "/Kubernetes/Postgres-user"}
                 "replicationPasswordKey" {:path "/Kubernetes/Postgres-replication"}}}]

 :forgejo
 [{:ns          "forgejo"
   :secret-name "forgejo-admin-password"
   :fields      {"password" {:path "/Kubernetes/Forgejo"}
                 "username" {:path "/Kubernetes/Forgejo" :field "Username"}}}]
 :harbor
 [{:ns          "harbor"
   :secret-name "harbor-admin-password"
   :fields      {"HARBOR_ADMIN_PASSWORD" {:path "/Kubernetes/Harbor"}
                 "HARBOR_ADMIN_USERNAME" {:path "/Kubernetes/Harbor" :field "Username"}}}]

 :keycloak
 [{:ns          "keycloak"
   :secret-name "keycloak-admin-password"
   :fields      {"password" {:path "/Kubernetes/Keycloak"}}}]

 :minio
 [{:ns          "minio"
   :secret-name "minio-password"
   :fields      {"password" {:path "/Kubernetes/minio"}
                 "user"     {:path "/Kubernetes/minio" :field "Username"}}}]

 :openldap
 [{:ns          "openldap"
   :secret-name "openldap-passwords"
   :fields      {"LDAP_ADMIN_PASSWORD"  {:path "/Kubernetes/openldap-admin"}
                 "LDAP_CONFIG_PASSWORD" {:path "/Kubernetes/openldap-config"}}}]

 :postgresql
 [{:ns          "postgresql"
   :secret-name "postgresql-password"
   :fields      {"userPassword"        {:path "/Kubernetes/Postgres-user"}
                 "adminPassword"       {:path "/Kubernetes/Postgres-admin"}
                 "replicationPassword" {:path "/Kubernetes/Postgres-replication"}}}]

 :redis
 [{:ns          "redis"
   :secret-name "redis-password"
   :fields      {"password" {:path "/Kubernetes/redis"}}}]}
