{:forgejo
 {:ns          "forgejo"
  :secret-name "forgejo-admin-password"
  :fields      {"password" {:path "/Kubernetes/Forgejo" :field "Password"}
                "username" {:literal "admin"}}}
 :harbor
 {:ns          "harbor"
  :secret-name "harbor-admin-password"
  :fields      {"HARBOR_ADMIN_PASSWORD" {:path "/Kubernetes/Harbor"}}}

 :keycloak
 {:ns          "keycloak"
  :secret-name "keycloak-admin-password"
  :fields      {"password" {:path "/Kubernetes/Keycloak"}}}}
