{:apiVersion "argoproj.io/v1alpha1"
 :kind       "Application"
 :metadata   {:name       "argo-workflows"
              :namespace  "argocd"
              :finalizers ["resources-finalizer.argocd.argoproj.io"]}
 :spec
 {:project     "default"
  :sources     [{:chart          "argo-workflows"
                 :repoURL        "https://argoproj.github.io/argo-helm"
                 :path           "argo-workflows"
                 :targetRevision "0.45.0"
                 :helm           {:releaseName "argo-workflows"
                                  :valueFiles  ["$values/target/argo-applications/argo-workflows/values.yaml"]}}
                {:repoURL        "https://github.com/duck1123/k3s-fleetops"
                 :targetRevision "master"
                 :ref            "values"}
                #_{:directory      {:jsonnet {} :recurse true}
                 :path           "target/argo-application-manifests/argo-workflows"
                 :repoURL        "https://github.com/duck1123/k3s-fleetops.git"
                 :targetRevision "master"}]
  :destination {:server "https://kubernetes.default.svc" :namespace "argo-workflows"}
  :syncPolicy  {:automated {:prune true :selfHeal true} :syncOptions ["CreateNamespace=true"]}}}
