{:replicaCount 1
 :monitoring    {:enabled true}
 :ingress
 {:annotations
  {"cert-manager.io/cluster-issuer"                   "letsencrypt-prod"
   "ingress.kubernetes.io/force-ssl-redirect"         "true"
   #_#_"traefik.ingress.kubernetes.io/router.middlewares" "dinsro-redirect@kubernetescrd"}
  :enabled true
  :hosts   ["metabase.dev.kronkltd.net"]
  :tls     [{:secretName "metabase-tls" :hosts ["metabase.dev.kronkltd.net"]}]}}
