{:apiVersion "argoproj.io/v1alpha1"
 :kind       "Application"
 :metadata   {:name        "002-applications"
              :namespace   "argocd"
              :annotations {"argocd.argoproj.io/sync-wave" "2"}}
 :spec
 {:destination {:namespace "argocd-server"
                :server    "https://kubernetes.default.svc"}
  :project     "default"
  :source      {:directory      {:jsonnet {} :recurse true}
                :path           "target/argo-applications"
                :repoURL        "https://github.com/duck1123/k3s-fleetops.git"
                :targetRevision "master"}
  :syncPolicy  {:automated   {:prune true :selfHeal true}
                :syncOptions ["CreateNamespace=true"]}}}
