{:database    {:enabled true :seed true}
 :devcards    {:enabled  false
               :ingress  {:enabled false
                          :hosts   [{:host  "devcards.dinsro.com"
                                     :paths [{:path "/"}]}]
                          :tls     [{:hosts      ["devcards.dinsro.com"]
                                     :secretName "dinsro-com-devcards-tls"}]}
               :devtools {:enabled false
                          :ingress {:enabled false}}}
 :devtools    {:enabled true
               :ingress {:enabled true
                         :hosts   [{:host  "devtools.dinsro.com"
                                    :paths [{:path "/"}]}]
                         :tls     [{:hosts      ["devtools.dinsro.com"]
                                    :secretName "dinsro-com-devtools-tls"}]}}
 :docs        {:enabled true
               :ingress {:enbled true
                         :hosts  [{:host  "docs.dinsro.com"
                                   :paths [{:path "/"}]}]
                         :tls    [{:hosts      ["docs.dinsro.com"]
                                   :secretName "dinsro-com-docs-tls"}]}}
 :image       {:tag "4.0.3151"}
 :nrepl       {:enabled false}
 :notebooks   {:enabled true
               :ingress {:enabled true
                         :hosts   [{:host  "notebooks.dinsro.com"
                                    :paths [{:path "/"}]}]
                         :tls     [{:hosts      ["notebooks.dinsro.com"]
                                    :secretName "dinsro-com-notebooks-tls"}]}}
 :persistence {:enabled true :seed true}
 :ingress     {:enabled true
               :hosts   [{:host "dinsro.com" :paths [{:path "/"}]}]
               :tls     [{:hosts      ["dinsro.com"]
                          :secretName "dinsro-com-tls"}]}
 :workspaces  {:enabled true
               :ingress {:enabled true
                         :hosts   [{:host  "workspaces.dinsro.com"
                                    :paths [{:path "/"}]}]
                         :tls     [{:hosts      ["workspaces.dinsro.com"]
                                    :secretName "dinsro-com-workspaces-tls"}]}}}
