{:database    {:enabled true :seed true}
 :devcards    {:enabled  false
               :ingress  {:enabled true
                          :hosts   [{:host  "devcards.dinsro.com"
                                     :paths [{:path "/"}]}]
                          :tls     [{:hosts      ["devcards.dinsro.com"]
                                     :secretName "dinsro-com-devcards-tls"}]}
               :devtools {:enabled false :ingress {:enabled false}}}
 :devtools    {:enabled false
               :ingress {:enabled false}}
 :docs        {:enabled false
               :ingress {:enbled false
                         :hosts  [{:host "docs.dinsro.com" :paths [{:path "/"}]}]
                         :tls    [{:hosts ["docs.dinsro.com"] :secretName "dinsro-com-docs-tls"}]}}
 :image       {:tag "4.0.3134"}
 :nrepl       {:enabled false}
 :notebooks   {:enabled false}
 :persistence {:enabled true :seed true}
 :ingress     {:enabled true
               :hosts   [{:host "dinsro.com" :paths [{:path "/"}]}]
               :tls     [{:hosts      ["dinsro.com"]
                          :secretName "dinsro-com-tls"}]}
 :workspaces  {:enabled false :ingress {:enabled false}}}
