{:ingress
 {:main
  {:enabled true
   :hosts   [{:host  "homer.dev.kronkltd.net"
              :paths [{:path "/"}]}]
   :tls     [{:secretName "homer-tls"
              :hosts      ["homer.dev.kronkltd.net"]}]}
  :addons
  {:codeserver
   {:enabled true
    :ingress {:enabled true
              :hosts   [{:host  "codeserver.dev.kronkltd.net"
                         :paths [{:path "/"}]}]
              :tls     [{:secretName "codeserver-tls"
                         :hosts      ["codeserver.dev.kronkltd.net"]}]}}}}}
