{:authentik
 {:error_reporting
  {:enabled true}}

 :global
 {:env
  [{:name "AUTHENTIK_SECRET_KEY"
    :valueFrom
    {:secretRef
     {:name "authentik-secret-key"
      :key  "authentik-secret-key"}}}
   {:name "AUTHENTIK_POSTGRESQL__PASSWORD"
    :valueFrom
    {:secretRef
     {:name "authentik-postgres-auth"
      :key  "password"}}}]}

 :postgresql
 {:enabled true
  :auth    {:existingSecret "authentik-postgres-auth"}}

 :redis {:enabled true}

 :server
 {:ingress
  {:enabled          true
   :annotations      {"cert-manager.io/cluster-issuer"           "letsencrypt-prod"
                      "ingress.kubernetes.io/force-ssl-redirect" "true"
                      "ingress.kubernetes.io/proxy-body-size"    "0"
                      "ingress.kubernetes.io/ssl-redirect"       "true"}
   :ingressClassName "traefik"
   :hosts            ["authentik.dev.kronkltd.net"]
   :tls              [{:secretName "authentik-tls"
                       :hosts      ["authentik.dev.kronkltd.net"]}]
   :https            false}}}
