{:apiIngress
 {:enabled          true
  :ingressClassName "traefik"
  :hostname         "minio-api.dev.kronkltd.net"
  :annotations      {"cert-manager.io/cluster-issuer"           "letsencrypt-prod"
                     "ingress.kubernetes.io/force-ssl-redirect" "true"
                     "ingress.kubernetes.io/proxy-body-size"    "0"
                     "ingress.kubernetes.io/ssl-redirect"       "true"}
  :tls              true}

 :auth
 {:existingSecret        "minio-password"
  :rootUserSecretKey     "user"
  :rootPasswordSecretKey "password"}

 :ingress
 {:enabled          true
  :ingressClassName "traefik"
  :hostname         "minio.dev.kronkltd.net"
  :annotations      {"cert-manager.io/cluster-issuer"           "letsencrypt-prod"
                     "ingress.kubernetes.io/force-ssl-redirect" "true"
                     "ingress.kubernetes.io/proxy-body-size"    "0"
                     "ingress.kubernetes.io/ssl-redirect"       "true"}
  :tls              true}}
