{:apiVersion "argoproj.io/v1alpha1"
 :kind       "Application"
 :metadata   {:name "airflow" :namespace "argocd"}
 :spec
 {:project     "default"
  :sources      [{:chart          "airflow"
                  :repoURL        "https://airflow.apache.org"
                  :targetRevision "1.15.0"
                  :helm           {:releaseName "airflow"
                                   :valueFiles  ["$values/target/argo-applications/airflow/values.yaml"]}}
                 {:repoURL        "https://github.com/duck1123/k3s-fleetops"
                  :targetRevision "master"
                  :ref            "values"}]
  :destination {:server "https://kubernetes.default.svc" :namespace "airflow"}
  :syncPolicy  {:automated   {:prune true :selfHeal true}
                :syncOptions ["CreateNamespace=true"]}}}
