{:createUserJob
 {:useHelmHooks   false
  :applyCustomEnv false}

 :ingress
 {:web
  {:annotations
   {"cert-manager.io/cluster-issuer" "letsencrypt-prod"}

   :enabled true

   :hosts
   [{:name "airflow.dev.kronkltd.net"
     :tls  {:enabled    true
            :secretName "airflow-tls"}}]}}

 :migrateDatabaseJob
 {:useHelmHooks   false
  :applyCustomEnv false}}
