;; https://argo-cd.readthedocs.io/en/stable/operator-manual/argocd-cm-yaml/
{:apiVersion "v1"
 :kind       "ConfigMap"
 :metadata   {:name      "argocd-cm"
              :namespace "argocd"}
 :data
 {"exec.enabled"           "true"
  "exec.shells"            "bash,sh"
  "kustomize.buildOptions" "--enable-helm"
  "ui.bannercontent"       "Ignore This Notice!"
  "ui.bannerurl"           "https://duck1123.com/"
  "url"                    "https://argocd.dev.kronkltd.net"}}
